jb-date-input.material-style,
jb-time-input.material-style,
jb-number-input.material-style,
jb-payment-input.material-style,
jb-input.material-style {
    --jb-input-height: 3rem;
    --jb-input-bg-color: var(--jb-surface);
    --jb-input-bg-color-disabled: var(--jb-surface-container-highest);
    --jb-input-border-color: var(--jb-outline);
    --jb-input-border-color-focus: var(--jb-focus-color);
    --jb-input-border-radius: var(--jb-radius-xs);
    --jb-input-border-width: 1px;
    --jb-input-border-bottom-width: 1px;
    --jb-input-border-width-focus: 2px;
    --jb-input-border-bottom-width-focus: 2px;
    --jb-input-box-shadow-focus: none;
    --jb-input-label-color: var(--jb-text-secondary);
    --jb-input-label-font-weight: 500;
    --jb-input-label-font-size: 0.75rem;
    --jb-input-value-color: var(--jb-text-primary);
    --jb-input-value-color-disabled: var(--jb-text-disabled);
    --jb-input-placeholder-color: var(--jb-text-secondary);
    --jb-input-message-color: var(--jb-text-secondary);
    --jb-input-message-color-error: var(--jb-error);
    --jb-input-message-font-size: 0.75rem;
    --jb-input-label-margin: 0 0 0.375rem;
    --jb-input-message-padding: 0.375rem 0 0;
}


jb-date-input.material-style::part(label),
jb-time-input.material-style::part(label),
jb-number-input.material-style::part(label),
jb-payment-input.material-style::part(label),
jb-input.material-style::part(label) {
    font-weight: 500;
}

jb-number-input.material-style:state(invalid),
jb-payment-input.material-style:state(invalid),
jb-input.material-style:state(invalid),
jb-date-input.material-style:state(invalid),
jb-time-input.material-style:state(invalid) {
    --jb-input-border-color: var(--jb-error);
}
