jb-date-input.candy-style,
jb-time-input.candy-style,
jb-input.candy-style{
    --jb-input-bg-color: var(--jb-background);
    --jb-input-bg-color-disabled: var(--jb-surface);
    --jb-input-border-color: var(--jb-border-color);
    --jb-input-border-color-focus: var(--jb-focus-color);
    --jb-input-border-radius: 2rem;
    --jb-input-border-width: 1px;
    --jb-input-border-bottom-width: 1px;
    --jb-input-border-bottom-width-focus: 1px;
    --jb-input-inline-space: 1rem;
    --jb-input-label-margin: 0.125rem var(--jb-input-inline-space);
    --jb-input-box-shadow-focus: 0 0 0 0.25rem oklch(67% 0.22 345 / 0.2);
    --jb-input-label-color: var(--jb-text-primary);
    --jb-input-label-font-weight: 700;
    --jb-input-value-color: var(--jb-text-primary);
    --jb-input-value-color-disabled: var(--jb-text-disabled);
    --jb-input-placeholder-color: var(--jb-text-secondary);
    --jb-input-message-color: var(--jb-text-secondary);
    --jb-input-message-color-error: #fb7185;
}
jb-date-input.candy-style::part(label),
jb-date-input.candy-style::part(message),
jb-time-input.candy-style::part(label),
jb-time-input.candy-style::part(message),
jb-input.candy-style::part(label),
jb-input.candy-style::part(message) {
    font-weight: 700;
}
jb-input.candy-style:state(invalid),
jb-date-input.candy-style:state(invalid),
jb-time-input.candy-style:state(invalid) {
    --jb-input-border-color: #fb7185;
}
