jb-date-input.porcelain-style,
jb-time-input.porcelain-style,
jb-input.porcelain-style {
    --jb-input-bg-color: var(--jb-surface);
    --jb-input-bg-color-disabled: var(--jb-background);
    --jb-input-border-color: var(--jb-border-color);
    --jb-input-border-color-focus: var(--jb-focus-color);
    --jb-input-border-radius: 0.625rem;
    --jb-input-border-width: 1px;
    --jb-input-border-bottom-width: 1px;
    --jb-input-border-bottom-width-focus: 2px;
    --jb-input-box-shadow-focus: 0 0 0 0.2rem oklch(48% 0.1 240 / 0.14);
    --jb-input-label-color: var(--jb-text-primary);
    --jb-input-label-font-weight: 600;
    --jb-input-value-color: var(--jb-text-primary);
    --jb-input-value-color-disabled: var(--jb-text-disabled);
    --jb-input-placeholder-color: var(--jb-text-secondary);
    --jb-input-message-color: var(--jb-text-secondary);
    --jb-input-message-color-error: var(--jb-success);
}


jb-date-input.porcelain-style::part(message),
jb-time-input.porcelain-style::part(message),
jb-input.porcelain-style::part(message) {
    color: var(--jb-primary-pressed);
}

jb-input.porcelain-style:state(invalid),
jb-date-input.porcelain-style:state(invalid),
jb-time-input.porcelain-style:state(invalid) {
    --jb-input-border-color: var(--jb-success);
}
